libraries_/
datasets/mnist/

experiments/body/
experiments/out_body/
experiments/iris/
experiments/out_iris/
experiments/libras/
experiments/out_libras/
experiments/glass/
experiments/out_glass/
experiments/out_sim_1/*
experiments/out_sim_2/*
experiments/out_sim_3/*
experiments/out_sim_4/*
experiments/simulation_1/*
experiments/simulation_2/*
experiments/simulation_3/*
experiments/simulation_4/*
experiments/simulation/*

*.asv
compared_methods/*.asv
experiments/*.asv




