[submodule "libraries/knfst"]
	path = libraries/knfst
	url = https://github.com/cvjena/knfst.git
[submodule "libraries/kpca"]
	path = libraries/kpca
	url = https://github.com/iqiukp/KPCA-MATLAB.git
[submodule "libraries/lmnn"]
	path = libraries/lmnn
	url = https://github.com/iglesias/lmnn.git
